* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 1rem;
}

html, body {
	width: 100vw;
	height: 100vh;
	background-color: white;
}

a {
	color: inherit;
	border: none;
	text-decoration: none;
}
a:hover { color: inherit; }
a:active {
	color: inherit;
	border: none;
}